<%for(var i=0; i<data.length; i++){%>
<li tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>" style="position: relative;">
    <dl tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>">
        <dt tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>">
			<img src="<%=data[i].groupid ? '../images/pica.png' : (data[i].headicon ? data[i].headicon : '../images/picb.png')%>" class="<%=(data[i].isOnline || data[i].groupid) ? '':'offlineheader'%>" tid="<%=parseInt(data[i].toid || data[i].groupid)%>"  chattype="<%=chattype || 'single'%>" alt="">
		</dt>
        <dd id="contact_<%=parseInt(data[i].toid || data[i].groupid)%>" tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>">
			<p tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>" style="white-space: nowrap;">
				<%=data[i].cname || data[i].groupname || '匿名'%>
			</p>
		</dd>
        <div class='newmsgtip <%=data[i].unreadCount ? "new" : ""%>' tid="<%=parseInt(data[i].toid || data[i].groupid)%>" chattype="<%=chattype || 'single'%>">
            <%=data[i].unreadCount ? data[i].unreadCount : ""%>
        </div>
    </dl>
</li>
<%}%>

<!--
 <li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><img src="images/pica.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><img src="images/picb.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><img src="images/picc.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>

						<li class="cur">
							<dl>
								<dt><img src="images/picd.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><img src="images/pice.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>

						<li>
							<dl>
								<dt><img src="images/picf.png" alt=""></dt>
								<dd><p>信贷群</p></dd>
							</dl>
						</li>
 -->