<%for(var i=0; i<emojis.length; i=i+4){%>
<li>
    <img src="<%=emojis[i].path%>" class="emoji1" code="<%=emojis[i].code%>" />
    <img src="<%=emojis[i+1].path%>" class="emoji1" code="<%=emojis[i+1].code%>" />
    <img src="<%=emojis[i+2].path%>" class="emoji1" code="<%=emojis[i+2].code%>" />
    <img src="<%=emojis[i+3].path%>" class="emoji1" code="<%=emojis[i+3].code%>" />
</li>
<%}%>
<!--
<li>
    <img src="../images/emoji/88.jpg" class="emoji1" code="/88" />
    <img src="../images/emoji/bomb.jpg" class="emoji1" code="/bomb" />
    <img src="../images/emoji/bsmile.jpg" class="emoji1" code="/bsmile" />
    <img src="../images/emoji/cry.jpg" class="emoji1" code="/cry" />
</li>
<li>
    <img src="../images/emoji/fuck.jpg" class="emoji1" code="/fuck" />
    <img src="../images/emoji/hellokitty.jpg" class="emoji1" code="/hellokitty" />
    <img src="../images/emoji/hsmile.jpg" class="emoji1" code="/hsmile" />
    <img src="../images/emoji/idwts.jpg" class="emoji1" code="/idwts" />
</li>
<li>
    <img src="../images/emoji/idwtsy.jpg" class="emoji1" code="/idwtsy" />
    <img src="../images/emoji/kiss.jpg" class="emoji1" code="/kiss" />
    <img src="../images/emoji/qq88.jpg" class="emoji1" code="/qq88" />
    <img src="../images/emoji/sad.jpg" class="emoji1" code="/sad" />
</li>
<li>
    <img src="../images/emoji/sexy.jpg" class="emoji1" code="/sexy" />
    <img src="../images/emoji/smile.jpg" class="emoji1" code="/smile" />
    <img src="../images/emoji/ssmile.jpg" class="emoji1" code="/ssmile" />
    <img src="../images/emoji/wcis.jpg" class="emoji1" code="/wcis" />
</li>-->