<%for(var i in users){%>
<dl uid="<%=users[i].uid%>" class="guserlist_r">
    <dt uid="<%=users[i].uid%>"><img src="images/dng.png" alt="" uid="<%=users[i].uid%>"></dt>
    <dd uid="<%=users[i].uid%>"><span uid="<%=users[i].uid%>"><%=users[i].cname%></span><span uid="<%=users[i].uid%>">&nbsp;(<%=users[i].uid%>)</span></dd>
</dl>
<%}%>