<%for(var i=0; i<data.length; i++){%>
    <div class="row single_r" uid="<%=data[i].user%>" to="<%=data[i].toid%>" onclick="window.location.href='/?uid=<%=data[i].user%>&to=<%=data[i].toid%>&totype=1'">
        <div class="col-xs-3 helght140 col-sm-2">
            <div class="head_icon col-l <% if(data[i].isOnline!=1){%> gray <%}%>" style="background-size:40px 40px; background-repeat: no-repeat;  background-image: url('<%=data[i].headicon?data[i].headicon:'../../images/headers/default.png'%>')"></div>
        </div>
        <div class="col-xs-6 border-bots helght140 paddingtop40 col-sm-8">
            <!--totype 根据不同的连接到群或单聊-->
           <!--<a href="javascript:void(0);">-->
               <h4  class="f34 head_name"><%=data[i].cname%></h4>
           <!--</a>-->
            <p class="sr-only f20">
                <span class="color1"></span>
            </p>
        </div>
        <div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
            <span class="color1 f20 disblock align-center" style="display: none;"><%=data[i].lastchattime%></span>
            <span class="badge disblock badges f16 marauto"></span>
        </div>
    </div>
<%}%>

<% if(gdata){ for(var i=0; i<gdata.length; i++){%>
<div class="row more_r" onclick="window.location.href='/?uid=<%=gdata[i].userid%>&to=<%=gdata[i].groupid%>&totype=2'">
    <div class="col-xs-3 helght140 col-sm-2">
        <div class="col-l"></div>
    </div>
    <div class="col-xs-6 border-bots helght140 paddingtop40 col-sm-8">
        <!--totype 根据不同的连接到群或单聊-->
        <!--<a href="javascript:void(0);">-->
            <h4  class="f34"><%=gdata[i].groupname%></h4>
        <!--</a>-->
        <p class="sr-only f20">
            <span class="color1"></span>
        </p>
    </div>
    <div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
        <span class="color1 f20 disblock align-center" style="display: none;><%=gdata[i].jointime%></span>
        <span class="badge disblock badges f16 marauto"></span>
    </div>
</div>
<%}}%>
<input type="hidden" id="current_user" value="<%=uid%>">
