<div class="row mt30 c_right">
    <div class="col-xs-2 col-sm-1 col-xs-push-10 col-sm-push-11">
        <img  class="user_headicon" src="<%=msg.headicon%>" alt="">
    </div>
    <div class="col-xs-10 col-sm-11 col-xs-pull-2 col-sm-pull-1">
        <p class="tright">
            <span class="f16"><%=msg.cname%></span> <span class="f16" style="padding: 0 10px;float:left;"> <%=msg.datetime.split(' ')[1]%></span>
        </p>
        <div class="col-in bgcolor3 fright cf">
            <em class="r"></em>
            <span class="f20 message_in"><%=msg.msg%></span>
        </div>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-12">-->
        <!--<span class="align-center disblock f16"> <%=msg.datetime.split(' ')[1]%></span>-->
    <!--</div>-->
<!--</div>-->