<%
for(var i=data.msgs.length -1; i>=0; i--){
    var curdate = data.msgs[i].datetime.split(' ')[0], ldate = data.msgs[i+1] && data.msgs[i+1].datetime.split(' ')[0] || '';
    if(curdate != ldate){
%>
<p class="shijian"><%=data.msgs[i].datetime.split(' ')[0]%></p>
<%}%>
<%
    if( parseInt(data.msgs[i].id) != parseInt(data.user.uid) ){
%>
<dl class="dlLeft">
    <dt><img src="<%=data.toheadicon%>" alt=""></dt>
    <dd>
        <div>
            <span><%=data.msgs[i].cname%> <%=data.msgs[i].datetime&&data.msgs[i].datetime.split(' ')[1]%></span>
        </div>
        <div class="word-wrap">
            <%=data.msgs[i].message.replace(/\n/g, '<br/>')%>
        </div>
    </dd>
</dl>
<% } else { %>
<dl class="dlRight">
    <dd>
        <div class="tright">
            <span class="f14 p25 color4"><%=data.msgs[i].cname%> <%=data.msgs[i].datetime&&data.msgs[i].datetime.split(' ')[1]%></span>
        </div>
        <div class="row-r-in mt5 border2 bgcolor5">
            <span class="word-wrap"><%=data.msgs[i].message.replace(/\n/g, '<br/>')%></span>
            <em class="rs"></em>
        </div>
    </dd>
    <dt><img src="<%=data.user.headicon ? data.user.headicon : '../images/picb.png'%>" alt=""></dt>
</dl>
<%}}%>